.large-hero {
  position: relative;
  background-color: $mainGray;
  border-bottom: 10px solid $mainGray;

  &__image {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  &__text-content {
    color: #ff0000;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    text-align: center;
    padding-top: 5.7rem;
    padding-bottom: 5.5rem;
  }

  &__title {
    font-weight: 300;
    font-size: 2.8rem;
    margin: 0;
    opacity: 1;

    @mixin atSmall {
      font-size: 3.2rem;
    }

    @mixin atMedium {
      font-size: 4.8rem;
    }
  }

  &__subtitle {
    font-weight: 300;
    font-size: 1.4rem;
    margin: 0;

    @mixin atSmall {
      font-size: 2.4rem;
    }

  }

  &__hours {
    font-weight: 300;
    font-size: 1.2rem;
    margin: 1rem 0 0 0;

    @mixin atSmall {
      font-size: 1.8;
    }
  }

  &__call {
    font-weight: 600;
    font-size: 1.2rem;
    margin: 1rem 0 0 0;

    @mixin atSmall {
      font-size: 1.8;
    }
  }
}
